.table 
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
  tr
    display: flex;
    justify-content: space-between;
  td
    padding: 0.5rem;
    border: none;  
  tr:nth-of-type(odd) 
    background-color: #f3f2f8;